/* ------reset----- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d6e2f0;
    height: 100vh;
    align-content: center;
    align-items: center;
   
}

.base-qr{
    flex-direction: column;
    display: flex;
    width: 300px;
    height: 500px;
    background-color: #fff;
    border-radius: 5%; 
    justify-content: center;
    
}

.base-qr img{
    width: 260px;
    height: 260px;
    align-self: center;
    margin-bottom: 15%;
    border-radius: 5%;
}

.texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15%;

}

.texto p{
    padding-top: 5%;
    color: #7b879d;
}

