/* ------reset----- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d9dcfd;
    height: 100vh;
    align-content: center;
    align-items: center;
   
}

.base-qr{
    flex-direction: column;
    display: flex;
    width: 300px;
    height: 500px;
    background-color: #fff;
    border-radius: 5%; 
    justify-content: center;
    
}

.base-qr img{
    width: 250px;
    height: 250px;
    align-self: center;
    margin-bottom: 35%;
    border-radius: 5%;
}

.texto{
    display: flex;
    flex-direction: column;

}

